
@font-face {
    font-family: basiercircle;
    src: url(../assests/font/basiercircle-regular.otf);
  }
:root {
    --clr-dark:#141f25;
    --clr-light-blueish:#8A97A1;
    --clr-grey:#ADB4B9;
    --clr-white:#FFFFFF;
}
html{
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    font-family: 'basiercircle';
    background-image: url(../assests/images/stormseeker-rX12B5uX7QM-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    color: var(--clr-white);

}
a{
    text-decoration: none!important;
    outline: none;
    color: var(--clr-white);
}
a:active, a:focus { 
    outline: none; 
}
   

nav{
    margin: 2rem;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}
.nav-brand{
    text-align: center;
}
.nav-brand h1{
    font-weight: 900;
    text-align: center;
}
.nav-links ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-links ul li{
    margin: 0 1rem;
    cursor: pointer;
    text-transform: uppercase
}
.nav-links ul li:hover{
    font-weight: 900;
}




.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.left{
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    backdrop-filter: blur(10px); 
    background-color: rgba(255, 255, 255, 0);
    
}
.quote{
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 2rem;
    margin-left: 10rem ;
}
.quote h1{
    font-size: 1rem;
    font-weight: 100;
}
.saying{
    padding: 0 0.5rem;
}
.saying h1{
    font-size: 5rem;
    font-weight: bold;
    line-height: 4.2rem;
}
.saying p{
    margin: 2rem 0;
    font-size: 2rem;
    font-weight: 200;
    font-weight: lighter;
}

.social-links{
    display: flex;
    margin: 4rem 0rem 0 5rem ;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 30%;
}
.social-links a{
    color: var(--clr-white);
   
}
.social-links a:hover{
    color: var(--clr-light-blueish);
   
}

.right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;

}
.theme{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-bottom: -20rem;
    width: 100%;
}
.theme ul{
    display: flex;
    flex-direction: row ;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    color: var(--clr-white);
}
.theme ul li {
    padding: 0 2rem;
}
.theme ul li .content {
    color: var(--clr-white);
    cursor: pointer;
    -webkit-transform: scale(1);
	  transform: scale(1);
	  -webkit-transition: .3s ease-in-out;
	  transition: .3s ease-in-out;
}
.theme ul li .content:hover{
    transform: scale(1.05);
    transition: all 0.2s;
}


body.active1{
    background-image: url(../assests/images/marc-olivier-jodoin-TStNU7H4UEE-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.active2{
    background-image: url(../assests/images/youssef-naddam-iJ2IG8ckCpA-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.theme ul li .content img{
    width: 100%;
    max-width: 100%;
    display:block;
    height: 80px;
    border-radius: 0.4rem;
}
.theme ul li .content p{
    text-align: center;
}

  

.button-55 {

  align-self: center;
  background-color: transparent;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: var(--clr-white);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

/* Mobile menu */
.toggle-menu{
    display: none;
}
.mobile-menu{
    z-index: 1999;
    display: none;
    width: 100%;
    min-height: 100vh!important;
    backdrop-filter: blur(10px); 
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.445);
}
.mobile-menu ul{
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    color: var(--clr-dark);
    z-index: 1111;
    transform: translate(-50%, -50%);
    padding: 1rem;
}
.mobile-menu ul h1{
    font-size: 5rem;
}
.mobile-menu ul li{
    font-size: 2.5rem;
}
.mobile-menu ul a{
    font-size: 2.5rem;
}

@media only screen and (max-width: 1218px) {
    .theme ul li {
        padding: 0 0.4rem;
    }
}
@media only screen and (max-width: 1018px) {
    .header{
        flex-direction: column;
    }
    .left{
        width: 99%;
        backdrop-filter: none; 
        min-height: 50vh;
        margin-top: -5rem;

    }
    
    .right{
        width: 100%;
    
    }
    .quote{
        margin-left: 0rem ;
    }
    
    .theme{
    margin-bottom: 0rem;
    margin: 4rem;
    }
    body.active2{
        background-image: url(../assests/images/vertical-love.jpg);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .social-links{
        margin: 1rem auto;
        width: 30%;
    }
}
@media only screen and (max-width: 768px) {
    .theme ul li {
        padding:  0.2rem 0;
    }
    /* .mobile-menu{
        display: flex;
    }
    .mobile-menu ul{
        display: flex;
    } */
    .quote{
        z-index: 0!important;
    }
    .toggle-menu{
        display: flex;
    }
    
    
    .navbar{
    padding: 0rem;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
    .nav-links{
        display: none;
    }
    .bar{
        display: none;
    }
}
@media only screen and (min-width: 768px){
    .mobile-menu{
        display: none!important;
    }
    .mobile-menu ul{
        display: none!important;
    }
    .toggle-menu{
        display: none!important;
    }
}
@media only screen and (max-width: 568px){
    .theme{
        margin: 1rem;
        margin-top: -2rem;
        }
    .theme ul{
        flex-direction: column;
    }
    .saying h1{
        font-size: 3rem;
        line-height: 2.5rem;
    }
    .saying p{
        font-size: 1.5rem;
    margin: 1rem 0;

    }
    .left{
        
        margin-top: -5rem;

    }
    .theme ul li .content img{
        width: 100%;
        max-width: 120px;
        display:block;
        height: 60px;
        border-radius: 0.4rem;
    }
}